body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #757575;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }


  h1 {
    font-size: 26px;
    font-weight: 300;
    color: black;
    line-height: 1.8;
    margin-top: 0; }

  p, li {
    line-height: 1.8; }

  iframe {
    border: 0; }

  a {
    color: #4078c0; }
    a:hover {
      text-decoration: none; }
    a:not([href]) {
      cursor: default; }


::selection {
  background-color: #e2e2e2; }
