.mdl-card {
  position: absolute;
  width: 95%;
  max-height: calc(100% - 144px);
  opacity: 0;
  pointer-events: none;
  z-index: 6; }

  .mdl-card.dialog-large {
    max-width: 650px; }
  .mdl-card.dialog-small {
    max-width: 350px; }

  .mdl-card.dialog-top {
    top: 90px;
    transition: top 0.3s, opacity 0.3s; }
  .mdl-card.dialog-right {
    right: 17px; }
  .mdl-card.dialog-bottom {
    bottom: 10px;
    transition: bottom 0.3s, opacity 0.3s; }
  .mdl-card.dialog-h-center {
    left: 0;
    right: 0;
    margin: auto; }

  body[data-dialog="save-as"] #save-as-dialog_unc2741.protected-id,
  body[data-dialog="table-content"] #table-content-dialog_unc2741.protected-id,
  body[data-dialog="settings"] #settings-dialog_unc2741.protected-id,
  body[data-dialog="shortcuts"] #shortcuts-dialog_unc2741.protected-id,
  body[data-dialog="about"] #about-dialog_unc2741.protected-id,
  body[data-dialog="print"] #print-dialog_unc2741.protected-id,
  body[data-dialog="unsaved-docs"] #unsaved-docs-dialog_unc2741.protected-id,
  body[data-dialog="new-update"] #new-update-dialog_unc2741.protected-id,
  body[data-dialog="priority-info"] #priority-info-dialog_unc2741.protected-id,
  body[data-dialog="io-error"] #io-error-dialog_unc2741.protected-id {
    top: 112px;
    opacity: 1;
    pointer-events: auto; }
  body[data-dialog="search"] #search-dialog_unc2741.protected-id,
  body[data-dialog="doc-info"] #doc-info-dialog_unc2741.protected-id {
    bottom: 32px;
    opacity: 1;
    pointer-events: auto; }

  .mdl-card img {
    display: block;
    margin: auto;
    -webkit-user-drag: none; }


  .mdl-card__title .material-icons {
    margin-right: 12px; }


  .mdl-card__supporting-text a {}
    .mdl-card__supporting-text a:hover {
      text-decoration: none; }


  .overflow-y-section {
    overflow-y: auto; }


  .inline-label {
    margin-right: 18px; }


  .select-section {
    overflow: visible; }
    .select-section .mdl-menu {
      width: 100%; }


  .preview-list-label {
    margin-top: 16px; }
  .preview-list .mdl-list__item {
    transition: background-color 0.2s; }
    .preview-list .mdl-list__item:active,
    .preview-list .mdl-list__item.active {}


  /* Save as dialog */
  #save-path-field_unc2741.protected-id {
    cursor: pointer; }


  /* Search / Replace dialog */
  #search-dialog_unc2741.protected-id .search-field-container {
    margin-right: 7px; }
  #search-dialog_unc2741.protected-id .replace-field-container {
    margin-left: 7px; }


  /* Table of content dialog */
  #table-content-dialog_unc2741.protected-id .no-headings-view,
  #table-content-dialog_unc2741.protected-id .headings-list-view {
    display: none; }
    #table-content-dialog_unc2741.protected-id[data-view="no-headings"] .no-headings-view,
    #table-content-dialog_unc2741.protected-id[data-view="headings-list"] .headings-list-view {
      display: block; }

  #table-content-dialog_unc2741.protected-id .headings-list {
    margin: 8px 0 20px 0; }
    #table-content-dialog_unc2741.protected-id .mdl-list__item {
      min-height: 0;
      font-size: 14px;
      padding-top: 7px;
      padding-bottom: 7px; }
      #table-content-dialog_unc2741.protected-id .mdl-list__item-secondary-action {
        font-size: 10px; }


  /* Shortcuts dialog */
  #shortcuts-dialog_unc2741.protected-id .shortcuts-list {
    margin-bottom: 20px; }
    #shortcuts-dialog_unc2741.protected-id h6 {
      padding: 4px 16px;
      margin: 0; }
    #shortcuts-dialog_unc2741.protected-id .mdl-list__item {
      min-height: 27px;
      font-size: 13px; }
      #shortcuts-dialog_unc2741.protected-id .mdl-list__item:nth-child(even) {}


  /* About dialog */
  #about-dialog_unc2741.protected-id .logo {
    height: 56px;
    margin-top: 24px;
    margin-bottom: 50px; }

  #about-dialog_unc2741.protected-id .update-check {
    text-align: center; }
    #about-dialog_unc2741.protected-id .loading-text,
    #about-dialog_unc2741.protected-id .loading-icon,
    #about-dialog_unc2741.protected-id .up-to-date,
    #about-dialog_unc2741.protected-id .new-update {
      display: none; }
      #about-dialog_unc2741.protected-id[data-state="loading"] .loading-text,
      #about-dialog_unc2741.protected-id[data-state="loading"] .loading-icon,
      #about-dialog_unc2741.protected-id[data-state="up-to-date"] .up-to-date,
      #about-dialog_unc2741.protected-id[data-state="new-update"] .new-update {
        display: block; }
    #about-dialog_unc2741.protected-id .new-update {}
  #about-dialog_unc2741.protected-id .ajax-error {
    display: none;
    /* Because .ajax-error contains URL */
    word-wrap: break-word; }
    #about-dialog_unc2741.protected-id[data-state="error"] .ajax-error {
      display: block; }
    #about-dialog_unc2741.protected-id .ajax-error a {}

  #about-dialog_unc2741.protected-id .author-info {
    margin-top: 10px; }
    #about-dialog_unc2741.protected-id .author-avatar {
      display: block;
      width: 50px;
      height: 50px;
      background-image: url('https://avatars0.githubusercontent.com/u/11824581?v=3&s=460');
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      margin: auto; }
    #about-dialog_unc2741.protected-id .author-info p {
      text-align: center;
      margin-top: 13px; }
      #about-dialog_unc2741.protected-id .author-info .material-icons {}

  #about-dialog_unc2741.protected-id .donate {
    cursor: pointer;
    transition: background-color 1s; }
    #about-dialog_unc2741.protected-id .donate:hover {}
    #about-dialog_unc2741.protected-id .donate:active {}
