body {
  cursor: default;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none; }
  body.no-frame {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid; }
  body.windows-os .osx-os:not(.windows-os),
  body.windows-os .linux-os:not(.windows-os),
  body.osx-os .windows-os:not(.osx-os),
  body.osx-os .linux-os:not(.osx-os),
  body.linux-os .osx-os:not(.linux-os),
  body.linux-os .windows-os:not(.linux-os) {
    display: none; }

  a {}

  input, [contenteditable] {
    outline: 0; }

  [contenteditable="false"] {
    cursor: default; }

  kbd {
    font-family: 'Roboto';

    /* CSS properties from https://developers.google.com/web/tools/chrome-devtools/iterate/inspect-styles/shortcuts */
    display: inline-block;
    font-size: 11px;
    line-height: 1.4;
    white-space: nowrap;
    padding: .1em .6em;
    margin: 0 .1em;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px; }


  .hover-effects:hover {}
  .hover-effects:active {}

  .disabled {
    opacity: 0.3;
    pointer-events: none; }

  .remove-list-style {
    list-style: none;
    padding: 0;
    margin: 0; }


  .italic {
    font-style: italic; }
  /* highlight */
  .hl {}

  .fake-link {
    color: inherit;
    text-decoration: underline;
    cursor: default; }
    .fake-link:hover {
      text-decoration: none; }


  p .material-icons {
    vertical-align: middle; }

  .material-icons.loading-icon {
    margin: 6px 0;
    animation: infinite-rotation 0.3s linear infinite; }
  @keyframes infinite-rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); } }


::selection {}


::-webkit-scrollbar {
  /* width for vertical scrollbar */
  width: 6px;
  /* height for horizontal scrollbar */
  height: 6px; }
::-webkit-scrollbar-thumb {
  border-radius: 99px; }
