body {
  /* By default, only header has Roboto, body has Helvetica.  */
  font-family: 'Roboto'; }


  .mdl-layout {
    overflow-y: hidden; }
    body.no-frame .mdl-layout {
      width: calc(100% - 2px); }
    .mdl-layout__header {
      position: absolute;
      /* By default, the header has an min-height of 64px (cancelled when the window becomes small).  */
      min-height: auto;
      background-color: transparent;
      opacity: 0;
      box-shadow: none;
      transition: opacity 0.2s; }
      .mdl-layout__header:hover,
      .mdl-layout__header.active {
        opacity: 1; }

  .mdl-card {
    /* By default, a card has a min-height of 200px. */
    min-height: 0; }

    /* Prevent .mdl-card__title from reducing when resizing the window (so the card) vertically */
    .mdl-card__title {
      min-height: 60px; }

    .mdl-card__supporting-text {
      width: calc(100% - 32px); }

    .mdl-list {
      padding: 0;
      margin: 0; }
      .mdl-list__item {
        padding: 4px 16px; }

        .mdl-menu {
          /* By default, a menu list has an ugly padding top & bottom. */
          padding: 0; }
          .mdl-menu__item {
            display: flex;
            /* By default, a menu item has a height of 48px. That is too large. */
            height: 36px;
            /* By default, a menu item text is black. */
            line-height: 36px;
            cursor: default; }

        .mdl-textfield {
          /* By default, a text field has a width of 300px. */
          width: 100%; }
          .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
          .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
          .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {}
            .mdl-textfield__label:after {}

        .mdl-switch__track,
        .mdl-switch__thumb,
        .mdl-switch__ripple-container {
          cursor: default; }
          .mdl-switch.is-checked .mdl-switch__track {}
          .mdl-switch.is-checked .mdl-switch__thumb {}
          .mdl-switch__ripple-container .mdl-ripple {}

        /* Prevent .mdl-card__actions from reducing when resizing the window (so the card) vertically */
        .mdl-card__actions {
          min-height: 53px; }

        .mdl-button {
          cursor: default; }
          .mdl-button.mdl-button--colored {}
            .mdl-button--raised.mdl-button--colored {}

  .mdl-tooltip {
    max-width: 80%;
    font-size: 12px;
    word-wrap: break-word; }
    .mdl-tooltip:empty {
      display: none; }
