/* top & left via JS */
#toolbar {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: 4;
  transition: opacity 0.2s; }
  #toolbar.active {
    opacity: 1;
    pointer-events: auto; }

  #toolbar .toolbar-button {
    float: left;
    width: 32px;
    height: 32px;
    text-align: center;
    transition: background-color 0.2s; }
    #toolbar .toolbar-button.active {}
      #toolbar .toolbar-button .material-icons {
        font-size: 18px;
        line-height: 32px; }

  #toolbar .tools-list-view {
    display: none; }
    #toolbar[data-view="tools-list"] .tools-list-view {
      display: block; }
    #toolbar li {
      outline: 0; }
      #toolbar li:nth-child(7),
      #toolbar li:nth-child(13) {
        clear: left; }
        #tool-paragraph .material-icons {
          font-size: 15px !important; }
        #tool-h2 .material-icons {
          font-size: 16px !important; }
        #tool-h3 .material-icons {
          font-size: 14px !important; }
        #tool-h4 .material-icons {
          font-size: 12px !important; }
        #tool-h5 .material-icons {
          font-size: 10px !important; }
        #tool-h6 .material-icons {
          font-size: 8px !important; }

  #toolbar .form {
    display: none; }
    #toolbar[data-view="remote-image"] .remote-image-view,
    #toolbar[data-view="remote-video"] .remote-video-view,
    #toolbar[data-view="apply-link"] .apply-link-view {
      display: block; }
    #toolbar .form input {
      float: left;
      width: 200px;
      height: 32px;
      padding: 0 4px;
      border: 0;
      transition: background-color 0.2s; }
      #toolbar .form input.invalid {}
